<div class="container">

    <div class="main">
        <p class="sign" align="center">Sign Up</p>
        
        <form [formGroup]="registerFrom" (ngSubmit)="onSubmit()">     
    
            <input class="username" type="email" align="center" autocomplete="off" placeholder="Enter Email" formControlName="username" required>

            <span *ngIf="username.invalid && (username.dirty || username.touched || !isformValid)">
                <p align="center" class="text-danger" *ngIf="username.errors?.required"> Email is required. </p>
                <p align="center" class="text-danger" *ngIf="username.errors?.email"> Please Provide Valid Email Address</p>
            </span>

            <input (keyup)="checkPassword()" class="username" type="password" align="center" autocomplete="off" placeholder="Enter Password" formControlName="password" required>
            
            <span *ngIf="password.invalid && (password.dirty || password.touched || !isformValid)">
                <p align="center" class="text-danger" *ngIf="password.errors?.required"> Password is required. </p>
                <p align="center" class="text-danger" *ngIf="password.errors?.minlength"> Please Provide password length greater than 7 characters</p>
            </span>
    
            <input (keyup)="checkPassword()" class="username" type="password" align="center" autocomplete="off" placeholder="Confirm Password" formControlName="password2" required>
            
            <span *ngIf="password2.invalid && (password2.dirty || password2.touched || !isformValid)">
                <p align="center" class="text-danger" *ngIf="password2.errors?.required">Confirm Password is required. </p>
                <p align="center" class="text-danger" *ngIf="password2.errors?.minlength"> Please Provide password length greater than 7 characters</p>
            </span>
            <span>
                <p  align="center" class="text-danger" *ngIf="!passwordCheck"> Both Password must be same</p>
            </span>

            <br>
            <div class="text-center">
                <button type="submit" class="submit signup_submit" align="center">Sign Up</button>
            </div>

            <br>
            <p class="forgot" align="center">Have Account <a [routerLink]="[ '/login' ]">Login</a></p>
            <br>
            <br>
        </form>
    </div>
    


</div>