.mycontainer{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.home-content{
    padding: 35px 25px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
}


.myBtn{
    margin-left: 5px;
}
